USE [LATINMEX_BD]
--GO
--/****** Object:  StoredProcedure [dbo].[SP_23_ACTUALIZAR_CUOTAS]    Script Date: 10/22/2020 1:09:05 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--ALTER PROCEDURE [dbo].[SP_23_ACTUALIZAR_CUOTAS]

--@ID_PRODUCTO INT,
--@ID_PRODUCTO_ASOCIADO INT,
--@ESTADO NVARCHAR(50),
--@VALOR_CUOTA DECIMAL(18,3),
--@VALOR_TERJETA DECIMAL(18,3),
--@VALOR_EFECTIVO DECIMAL(18,3),
--@VALOR_RECARGO DECIMAL(18,3),
----@ID_ARCHIVO INT,
--@OBSERVACION NVARCHAR(MAX),
--@ID_USUARIO INT

--AS 
BEGIN


declare 
@ID_PRODUCTO INT = 32,
@ID_PRODUCTO_ASOCIADO INT = 40,
@ESTADO NVARCHAR(50) = 'PAGADO',
@VALOR_CUOTA DECIMAL(18,3)= 50,
@VALOR_TERJETA DECIMAL(18,2)= 50,
@VALOR_EFECTIVO DECIMAL(18,2)=25,
@VALOR_RECARGO DECIMAL(18,2)=0,
--@ID_ARCHIVO INT,
@OBSERVACION NVARCHAR(MAX) = 'TEST',
@ID_USUARIO INT = 1;

DECLARE @TOTAL_PAGADO DECIMAL(18,2)
SET @TOTAL_PAGADO = @VALOR_TERJETA + @VALOR_EFECTIVO

IF @TOTAL_PAGADO > @VALOR_CUOTA
BEGIN

DECLARE @ID_PRODUCTO_ASOC_FOR INT
DECLARE	@SECUENCIA_FOR NVARCHAR(50)
DECLARE	@FECHA_PROXIMO_PAGO_FOR DATE
DECLARE	@COSTO_FOR DECIMAL(18,2)
DECLARE	@VALOR_PAGADO_TARJETA DECIMAL(18,2)
DECLARE	@VALOR_PAGADO_EFECTIVO DECIMAL(18,2)
DECLARE	@VALOR_PAGADO_ABONO DECIMAL(18,2)

DECLARE	@PAGADO_TARJETA DECIMAL(18,2)
DECLARE	@PAGADO_EFECTIVO DECIMAL(18,2)

 DECLARE @TABLE_CUOTAS TABLE (
    ID_PRODUCTO_ASOCIADO INT,
	SECUENCIA NVARCHAR(50),
	FECHA_PROXIMO_PAGO DATE,
	COSTO DECIMAL(18,2),
	VALOR_PAGADO_TARJETA DECIMAL(18,2),
	VALOR_PAGADO_EFECTIVO DECIMAL(18,2),
	VALOR_PAGADO_ABONO DECIMAL(18,2)
  )

  DECLARE @TOTAL_CUOTAS INT
  DECLARE @NEXT INT = 1

  INSERT INTO @TABLE_CUOTAS
   SELECT 
       [ID_PRODUCTO_ASOCIADO]
      ,[SECUENCIA]
      ,[FECHA_PROXIMO_PAGO]
      ,[COSTO]
	  ,[VALOR_PAGADO_TARJETA]
      ,[VALOR_PAGADO_EFECTIVO]
	  ,[ABONO]
  FROM [LATINMEX_BD].[dbo].[LTM_LISTA_PRODUCTOS_ASOCIADOS]
  WHERE ID_PRODUCTO = @ID_PRODUCTO AND ESTADO = 'PENDIENTE'

  SELECT @TOTAL_CUOTAS = COUNT(ID_PRODUCTO_ASOCIADO) FROM @TABLE_CUOTAS
  
    DECLARE parametersCursor CURSOR FOR 

    SELECT * FROM @TABLE_CUOTAS

    OPEN parametersCursor  
    FETCH NEXT FROM parametersCursor INTO @ID_PRODUCTO_ASOC_FOR, @SECUENCIA_FOR , @FECHA_PROXIMO_PAGO_FOR, @COSTO_FOR, @VALOR_PAGADO_TARJETA, @VALOR_PAGADO_EFECTIVO,@VALOR_PAGADO_ABONO

    WHILE @@FETCH_STATUS = 0  
    BEGIN   

	--SELECT @ID_PRODUCTO_ASOC_FOR, @SECUENCIA_FOR , @FECHA_PROXIMO_PAGO_FOR, @COSTO_FOR, @VALOR_PAGADO_EFECTIVO, @NEXT
     
	  --VALIDAR LA CANTIDAD DE CUOTAS
	  IF @NEXT <= @TOTAL_CUOTAS 
	  BEGIN

			--IF @VALOR_PAGADO_ABONO = 0 OR @VALOR_PAGADO_ABONO IS NULL
			-- BEGIN
			   --VALIDAR SI EL VALOR DE LA TARJETA ES MAYOR A 0	      
			     IF @VALOR_TERJETA > 0
			     BEGIN
				
					  --VALIDAR SI EL PAGO CON TARJETA ES MAYOR A LA CUOTA
					  IF @VALOR_TERJETA >= @COSTO_FOR
					   BEGIN

						  SELECT 'SE PAGA LA ' + @SECUENCIA_FOR + ' AUN QUEDAN ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN LA TARJETA'
						  --EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PAGADO', @COSTO_FOR, 0, @VALOR_RECARGO, 0, @OBSERVACION, @ID_USUARIO
						  SET @VALOR_TERJETA  = @VALOR_TERJETA - @COSTO_FOR	
						  SET @VALOR_RECARGO = 0
					 
					   END
					   --SI TOMA DEL EFECTIVO SI ES MAYOR A 0, O HACE UN ABONO
					   ELSE
					   BEGIN
					
							--VALIDAR SI HAY DINERO EN EFECTIVO
							IF @VALOR_EFECTIVO > 0
							BEGIN
				      
								  --VALIDAR SI LA SUMA DEL EFECTIVO Y LA TARJETA ES MAYO AL VALOR DE LA CUOTA
								  SET @TOTAL_PAGADO = @VALOR_TERJETA + @VALOR_EFECTIVO
								  --SI ES MAYOR SE HACE UN PAGO
								  IF @TOTAL_PAGADO  >= @COSTO_FOR
								  BEGIN

									  DECLARE @OTROSVALORES DECIMAL(18,2)
									  SET @OTROSVALORES = @COSTO_FOR - @VALOR_TERJETA
									  SET @VALOR_EFECTIVO = @VALOR_EFECTIVO - @OTROSVALORES		      
									  SELECT 'SE PAGA LA ' + @SECUENCIA_FOR + '  CON ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN TARJETA Y SACO '  + CONVERT(NVARCHAR(20), @OTROSVALORES)  +' DEL EFECTIVO  Y QUEDAN EN EFECTIVO: ' + CONVERT(NVARCHAR(20), @VALOR_EFECTIVO)							  
									  --EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PAGADO', @VALOR_TERJETA, @OTROSVALORES, @VALOR_RECARGO, 0, @OBSERVACION, @ID_USUARIO
								  END
								  --SI  NO SE HACE UN OBNO
								  ELSE
								  BEGIN		
						     
							 
									 DECLARE @ABONO_FOR DECIMAL(18,2)
									 SET @ABONO_FOR = @VALOR_TERJETA + @VALOR_EFECTIVO

									 SELECT 'SE HACE UN ABONO LA ' + @SECUENCIA_FOR + '  CON VALOR DE ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN TARJETA Y ' + CONVERT(NVARCHAR(20), @VALOR_EFECTIVO) + ' EN EFECTIVO' 
									 --EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PENDIENTE', @VALOR_TERJETA, @VALOR_EFECTIVO, @VALOR_RECARGO, @ABONO_FOR, 'Se realiza un abono', @ID_USUARIO
								  END				      
							END
							ELSE
							BEGIN
								SELECT 'SE HACE UN ABONO LA ' + @SECUENCIA_FOR + '  CON VALOR DE ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN TARJETA  ' 
								--EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PENDIENTE', @VALOR_TERJETA, 0, 0, @VALOR_TERJETA, 'Se realiza un abono', @ID_USUARIO
							END
				  
						   SET @VALOR_TERJETA  = 0
					   END

		         END--555
		         ELSE
				 --VALIDAR PAGO EN EFECTIVO
				 BEGIN			       
			       IF @VALOR_EFECTIVO  > 0
			   BEGIN

					IF @VALOR_EFECTIVO >= @COSTO_FOR
				   BEGIN

					  SET @VALOR_EFECTIVO  = @VALOR_EFECTIVO - @COSTO_FOR		      
					  SELECT 'SE PAGA LA ' + @SECUENCIA_FOR + ' AUN QUEDAN ' + CONVERT(NVARCHAR(20), @VALOR_EFECTIVO) + ' EN EFECTIVO'
					  --EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PAGADO', 0, @VALOR_EFECTIVO, 0, 0, @OBSERVACION, @ID_USUARIO
             
				   END
				   --SI TOMA DEL EFECTIVO SI ES MAYOR A 0, O HACE UN ABONO
				   ELSE
				   BEGIN
						SELECT 'SE HACE UN ABONO A LA ' + @SECUENCIA_FOR + ' POR UN VALOR DE ' + CONVERT(NVARCHAR(20), @VALOR_EFECTIVO) 
						--EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PENDIENTE', 0, @VALOR_EFECTIVO, 0, @VALOR_EFECTIVO, 'Se realiza un abono', @ID_USUARIO
						SET @VALOR_EFECTIVO  = 0
				   END
			 
				END
			    END
			--END
			--ELSE
			--BEGIN
				
			--	DECLARE	@V_PAGARABONO DECIMAL(18,2)
			--	DECLARE	@V_ABONO DECIMAL(18,2)
			--	SET @V_PAGARABONO = @COSTO_FOR - @VALOR_PAGADO_ABONO

			--	SELECT 'SI ES PARA ABONAR'
			--	IF @VALOR_TERJETA > 0
			--    BEGIN
				    
			--		--PAGAR ABONO CON TARJETA
			--		IF @VALOR_TERJETA >= @V_PAGARABONO
			--		BEGIN
			--			SELECT 'SE PAGA EL RESTO DEL ABONO DE LA ' + @SECUENCIA_FOR + ' POR VALOR DE ' + CONVERT(NVARCHAR(20), @V_PAGARABONO) + ' Y AUN QUEDAN ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN LA TARJETA'
						
			--			SET @V_ABONO = @VALOR_PAGADO_TARJETA + @V_PAGARABONO
			--			--EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PAGADO', @V_ABONO, @VALOR_PAGADO_EFECTIVO, @VALOR_RECARGO, 0, @OBSERVACION, @ID_USUARIO
						
			--			SET @VALOR_TERJETA  = @VALOR_TERJETA - @V_PAGARABONO	
			--		END
			--		ELSE
			--		--PAGAR ABONO SI HAY EFECTIVO
			--		BEGIN

					    
			--			--===================================================

			--			--VALIDAR SI HAY DINERO EN EFECTIVO
			--				IF @VALOR_EFECTIVO > 0
			--				BEGIN
				      
			--					  --VALIDAR SI LA SUMA DEL EFECTIVO Y LA TARJETA ES MAYO AL VALOR DE LA CUOTA
			--					  SET @TOTAL_PAGADO = @VALOR_TERJETA + @VALOR_EFECTIVO
			--					  --SI ES MAYOR SE HACE UN PAGO
			--					  IF @TOTAL_PAGADO  >= @V_PAGARABONO
			--					  BEGIN

			--						  DECLARE @OTROSVALORES2 DECIMAL(18,2)
			--						  DECLARE @OTROSVALORES3 DECIMAL(18,2)

			--						  --valor
			--						  SET @OTROSVALORES2 = @VALOR_PAGADO_TARJETA + @VALOR_TERJETA
			--						  SET @OTROSVALORES2 = @VALOR_PAGADO_TARJETA + @VALOR_TERJETA

			--						  SET @OTROSVALORES2 = @V_PAGARABONO - @VALOR_TERJETA

			--						  SET @VALOR_EFECTIVO = @VALOR_EFECTIVO - @OTROSVALORES2	
									  

			--						  SELECT 'SE PAGA LA ' + @SECUENCIA_FOR + '  CON ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN TARJETA Y SACO '  + CONVERT(NVARCHAR(20), @OTROSVALORES)  +' DEL EFECTIVO  Y QUEDAN EN EFECTIVO: ' + CONVERT(NVARCHAR(20), @VALOR_EFECTIVO)							  
			--						  --EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PAGADO', @VALOR_TERJETA, @OTROSVALORES2, @VALOR_RECARGO, 0, @OBSERVACION, @ID_USUARIO

			--					  END
			--					  --SI  NO SE HACE UN OBNO
			--					  ELSE
			--					  BEGIN		
						     
							 
			--						 DECLARE @ABONO_FOR DECIMAL(18,2)
			--						 SET @ABONO_FOR = @VALOR_TERJETA + @VALOR_EFECTIVO

			--						 SELECT 'SE HACE UN ABONO LA ' + @SECUENCIA_FOR + '  CON VALOR DE ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN TARJETA Y ' + CONVERT(NVARCHAR(20), @VALOR_EFECTIVO) + ' EN EFECTIVO' 
			--						 --EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PENDIENTE', @VALOR_TERJETA, @VALOR_EFECTIVO, @VALOR_RECARGO, @ABONO_FOR, 'Se realiza un abono', @ID_USUARIO
			--					  END	
								  
			--				END
			--				ELSE
			--				BEGIN
			--					SELECT 'SE HACE UN ABONO AL ABONO DE LA  ' + @SECUENCIA_FOR + '  CON VALOR DE ' + CONVERT(NVARCHAR(20), @VALOR_TERJETA) + ' EN TARJETA  ' 
			--					--EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOC_FOR, 'PENDIENTE', @VALOR_TERJETA, 0, 0, @VALOR_TERJETA, 'Se realiza un abono', @ID_USUARIO
			--				END


			--			--===================================================


			--		END
					

			--		SELECT 'SI ES PARA ABONAR Y PAGO CON TARJETA'

			--	END
			--	ELSE
			--	BEGIN

			--		SELECT 'SI ES PARA ABONAR Y PAGO CON EFECTIVO'

			--	END
				
			-- END


	   END 	  
	  

	  SET @NEXT = @NEXT + 1

    FETCH NEXT FROM parametersCursor INTO @ID_PRODUCTO_ASOC_FOR, @SECUENCIA_FOR , @FECHA_PROXIMO_PAGO_FOR, @COSTO_FOR, @VALOR_PAGADO_TARJETA, @VALOR_PAGADO_EFECTIVO,@VALOR_PAGADO_ABONO
    END 

    CLOSE parametersCursor  
    DEALLOCATE parametersCursor 


END
ELSE
BEGIN

SELECT 'ES SOLO UNO'
--EXECUTE  [dbo].[SP_24_ACTUALIZAR_CUOTA_INDIVIDUAL] @ID_PRODUCTO_ASOCIADO, 'PAGADO', @VALOR_TERJETA, @VALOR_EFECTIVO, @VALOR_RECARGO, 0, @OBSERVACION, @ID_USUARIO

END






END