USE [LATINMEX_BD]
GO
/****** Object:  StoredProcedure [dbo].[SP_19_ACTUALIZAR_PRODUCTO]    Script Date: 1/29/2021 12:15:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_19_ACTUALIZAR_PRODUCTO]
@ID_PRODUCTO	nvarchar(200),
@TIPO_PRODUCTO INT,
   @ID_CATEGORIA_TIPO_PRODUCTO INT,
      @ESTADO_PRODUCTO INT,
      @NUMERO_POLIZA NVARCHAR(50),
      @FECHA_INICIO DATE,
      @FECHA_CADUCIDAD DATE,
      @ID_COMPANIA_SEGUROS NVARCHAR(50),
      @CODIGO_INTERNO NVARCHAR(50),
      @DATOS_AUXILIAR int,
      @ID_CLIENTE INT,
      @VALOR_PRODUCTO DECIMAL(18,3),
      @COSTO DECIMAL(18,3),
      @SERVICIO_ADICIONAL DECIMAL(18,3),
      @CASH_OUT NVARCHAR(50),
      @TARJETA_CREDITO DECIMAL(18,3),
      @PAGO_EFECTIVO DECIMAL(18,3),
      @RECARGO DECIMAL(18,3),
	  @TIPO_PAGO NVARCHAR(50),
      @NUMERO_CUOTAS INT,
	  @INTSALLMENTFEE DECIMAL(18,2),
      @FECHA_PROXIMO_PAGO DATE,
      @NOMBRE_EMPRESA NVARCHAR(500),
      @PROSPECTO int,
	  @FECHA_RETIRO DATE,
	  @RESERVA	DECIMAL(18,2),
	  @VALOR_TRAMITE	DECIMAL(18,2),
	  @COSTO_TERCEROS	DECIMAL(18,2),
	  @VALOR_SERVICIO	DECIMAL(18,2),
	  @VALOR_TOTAL	DECIMAL(18,2),
	  @EXCEDENTE_IMPUESTO	DECIMAL(18,2),
	  @EXCEDENTE_TRAMITE	DECIMAL(18,2),
	  @TOTAL_COBRAR	DECIMAL(18,2),
      @OBSERVACION NVARCHAR(MAX),
	  @ESTADO_INTERNO NVARCHAR(500),
	  @VALOR_COMPANIA	DECIMAL(18,2),
	  @ESTADO_ENDOSO NVARCHAR(50),
	  @ESTADO_RENOVADO NVARCHAR(50)
AS 
BEGIN


----------------TEST
--DECLARE @ID_PRODUCTO nvarchar(200) = '68',
--@ESTADO_PRODUCTO INT = 3,
--@VALOR_PRODUCTO DECIMAL(18,2) = 1200,
--@TARJETA_CREDITO DECIMAL(18,3) = 105,
--@PAGO_EFECTIVO DECIMAL(18,3) = 100,
--@RECARGO DECIMAL(18,3) = 5,
--@DATOS_AUXILIAR INT = 1,
--@ESTADO_ENDOSO NVARCHAR(50) = 'ACTUALIZADO',
--@ESTADO_RENOVADO NVARCHAR(50) = 'POR_ACTUALIZAR',
--@TIPO_PAGO NVARCHAR(50) = 'Cuotas',
--@NUMERO_CUOTAS INT =  5,
--@VALOR_COMPANIA	DECIMAL(18,2) = 0,
--@COSTO DECIMAL(18,3) = 205,
--@INTSALLMENTFEE DECIMAL(18,3) = 0,
--@FECHA_PROXIMO_PAGO DATETIME = GETDATE()
-------------


UPDATE LTM_LISTA_PRODUCTOS SET 
--ID_PRODUCTO	= @ID_PRODUCTO,
TIPO_PRODUCTO = @TIPO_PRODUCTO,
   ID_CATEGORIA_TIPO_PRODUCTO = @ID_CATEGORIA_TIPO_PRODUCTO,
      ESTADO_PRODUCTO = @ESTADO_PRODUCTO,
      NUMERO_POLIZA = @NUMERO_POLIZA,
      FECHA_INICIO = @FECHA_INICIO,
      FECHA_CADUCIDAD = @FECHA_CADUCIDAD,
      ID_COMPANIA_SEGUROS = @ID_COMPANIA_SEGUROS,
      CODIGO_INTERNO = @CODIGO_INTERNO,
      DATOS_AUXILIAR = @DATOS_AUXILIAR,
      ID_CLIENTE = @ID_CLIENTE,
      VALOR_PRODUCTO = @VALOR_PRODUCTO,
      COSTO = @COSTO,
      SERVICIO_ADICIONAL = @SERVICIO_ADICIONAL,
      CASH_OUT = @CASH_OUT,
      TARJETA_CREDITO = @TARJETA_CREDITO,
      PAGO_EFECTIVO = @PAGO_EFECTIVO,
      RECARGO = @RECARGO,
	  TIPO_PAGO = @TIPO_PAGO,
      NUMERO_CUOTAS = @NUMERO_CUOTAS,
	  INTSALLMENTFEE = @INTSALLMENTFEE,
      FECHA_PROXIMO_PAGO = @FECHA_PROXIMO_PAGO,
      NOMBRE_EMPRESA = @NOMBRE_EMPRESA,
      PROSPECTO = @PROSPECTO,
	 FECHA_RETIRO = @FECHA_RETIRO ,
	  RESERVA	= @RESERVA,
	  VALOR_TRAMITE	= @VALOR_TRAMITE,
	  COSTO_TERCEROS	= @COSTO_TERCEROS,
	  VALOR_SERVICIO	= @VALOR_SERVICIO,
	  VALOR_TOTAL	= @VALOR_TOTAL,
	  EXCEDENTE_IMPUESTO	= @EXCEDENTE_IMPUESTO,
	  EXCEDENTE_TRAMITE	= @EXCEDENTE_TRAMITE,
	  TOTAL_COBRAR	= @TOTAL_COBRAR,
      OBSERVACION = @OBSERVACION,
	  ID_USUARIO_ACTUALIZACION  = @DATOS_AUXILIAR ,
	  FECHA_ACTUALIZACION = GETDATE(),
	  ESTADO_INTERNO = @ESTADO_INTERNO,
	  ESTADO_ENDOSO = 'ACTUALIZADO',
	  ESTADO_RENOVADO = 'ACTUALIZADO',
	  VALOR_COMPANIA = @VALOR_COMPANIA
WHERE ID_PRODUCTO = @ID_PRODUCTO

IF @ESTADO_PRODUCTO = 3 AND @ESTADO_RENOVADO = 'POR_ACTUALIZAR'
BEGIN


IF	@TIPO_PAGO = 'Cuotas'
BEGIN
 
 DECLARE @TABLE_SEC_CUOTAS TABLE (
    SECUENCIA INT
  )

  INSERT INTO @TABLE_SEC_CUOTAS
  SELECT 1 union all SELECT 2 
  union all SELECT 3 union all SELECT 4
  union all SELECT 5 union all SELECT 6
  union all SELECT 7 union all SELECT 8
  union all SELECT 9 union all SELECT 10
  union all SELECT 11

  --DECLARE 
  --@ID_SECUENCIA INT,
  ----@ID_PRODUCTO INT,
  --@ESTADO NVARCHAR(50),
  ----@FECHA_PROXIMO_PAGO DATETIME,
  --@OBSERVACION NVARCHAR(MAX),
  --@TIPO_PAGO NVARCHAR(50),
  --@COSTO DECIMAL(18,3),
  --@ID_USUARIO INT
  
  DECLARE @VALOR_PAGADO_RENO DECIMAL(18,2)
  DECLARE @VALOR_RESTANTE_RENO DECIMAL(18,2)
  DECLARE @VALOR_CUOTAS_RENO DECIMAL(18,2)

  --SET @VALOR_PAGADO_RENO = @TARJETA_CREDITO + @PAGO_EFECTIVO
  SELECT @VALOR_PRODUCTO = VALOR_PRODUCTO, 
  @COSTO = COSTO, 
  @VALOR_COMPANIA = VALOR_COMPANIA, 
  @NUMERO_CUOTAS =NUMERO_CUOTAS, 
  @INTSALLMENTFEE = INTSALLMENTFEE
  FROM LTM_LISTA_PRODUCTOS
  WHERE ID_PRODUCTO = @ID_PRODUCTO

  SET @VALOR_RESTANTE_RENO = @VALOR_PRODUCTO - (@COSTO + @VALOR_COMPANIA) --- @VALOR_PAGADO
  SET @VALOR_CUOTAS_RENO =  @VALOR_RESTANTE_RENO / @NUMERO_CUOTAS + @INTSALLMENTFEE
  SELECT @VALOR_CUOTAS_RENO =  @VALOR_RESTANTE_RENO / @NUMERO_CUOTAS + @INTSALLMENTFEE
 
  --SELECT @VALOR_PAGADO, @VALOR_RESTANTE, @VALOR_CUOTAS

    DECLARE @secuencia int
	DECLARE @secuenciaTEXT nvarchar(50)
	DECLARE @VFecha datetime = @FECHA_PROXIMO_PAGO;
	DECLARE @dias int = 0
    DECLARE parametersCursor CURSOR FOR 

    SELECT SECUENCIA FROM @TABLE_SEC_CUOTAS

    OPEN parametersCursor  
    FETCH NEXT FROM parametersCursor INTO @secuencia  

    WHILE @@FETCH_STATUS = 0  
    BEGIN   
     
	  IF @NUMERO_CUOTAS > 0
	  BEGIN

		  IF @secuencia  <=  @NUMERO_CUOTAS
		  BEGIN

		   SELECT @secuenciaTEXT = 'CUOTA '+ convert(nvarchar(5), @secuencia);
		   SELECT @VFecha = DATEADD(DAY,@dias, @VFecha);
		   SET @VFecha = @VFecha
		   SET @dias = 30
			

			--select @secuenciaTEXT, @ID_PRODUCTO, 'PENDIENTE', @VFecha, '', '', @VALOR_CUOTAS_RENO, @DATOS_AUXILIAR
			----EXECUTE  [dbo].[SP_21_INSERTAR_CUOTAS] @secuenciaTEXT, @ID_PRODUCTO, 'PENDIENTE', @VFecha, '', '', @VALOR_CUOTAS, @DATOS_AUXILIAR
			INSERT INTO LTM_LISTA_PRODUCTOS_ASOCIADOS
			VALUES 
			( @SECUENCIA, @ID_PRODUCTO, 'PENDIENTE', @VFecha, '', @TIPO_PAGO, @VALOR_CUOTAS_RENO, GETDATE(), @DATOS_AUXILIAR, GETDATE(), @DATOS_AUXILIAR, 0,0,0,0,0,'NUEVO',0,null,0,0,0)

		  END 
	   END

        FETCH NEXT FROM parametersCursor INTO @secuencia 

    END 

    CLOSE parametersCursor  
    DEALLOCATE parametersCursor 

END



END

IF @ESTADO_PRODUCTO = 4 AND @ESTADO_ENDOSO = 'POR_ACTUALIZAR'
BEGIN

DECLARE @TABLE_CUOTAS TABLE (
		ID_PRODUCTO_ASOCIADO INT,
		SECUENCIA NVARCHAR(50),
		FECHA_PROXIMO_PAGO DATE,
		COSTO DECIMAL(18,2),
		VALOR_PAGADO_TARJETA DECIMAL(18,2),
		VALOR_PAGADO_EFECTIVO DECIMAL(18,2),
		ABONO DECIMAL(18,2)
	  )

	DECLARE @ID_PRODUCTO_ASOC_FOR INT
	DECLARE	@SECUENCIA_FOR NVARCHAR(50)
	DECLARE	@FECHA_PROXIMO_PAGO_FOR DATE
	DECLARE	@COSTO_FOR DECIMAL(18,2)
	DECLARE	@VALOR_PAGADO_TARJETA DECIMAL(18,2)
	DECLARE	@VALOR_PAGADO_EFECTIVO DECIMAL(18,2)
	DECLARE	@ABONO DECIMAL(18,2)

	  DECLARE @TOTAL_CUOTAS INT
	  DECLARE @NEXT INT = 1

	  --@VALOR_PRODUCTO
	  UPDATE LTM_ENDOSO SET 
	--ESTADO_INTERNO = 'COMPLETADO',
	VALOR_PRODUCTO_INICIAL = @VALOR_PRODUCTO,
	TARJETA_CREDITO = @TARJETA_CREDITO,
      PAGO_EFECTIVO = @PAGO_EFECTIVO,
      RECARGO = @RECARGO,
	ID_USUARIO_ACTUALIZACION = @DATOS_AUXILIAR
	WHERE ID_PRODUCTO = @ID_PRODUCTO AND ESTADO_INTERNO = 'ACTIVO'



       INSERT INTO @TABLE_CUOTAS
	   SELECT 
		   [ID_PRODUCTO_ASOCIADO]
		  ,[SECUENCIA]
		  ,[FECHA_PROXIMO_PAGO]
		  ,[COSTO]
		  ,[VALOR_PAGADO_TARJETA]
		  ,[VALOR_PAGADO_EFECTIVO]
		  ,[ABONO]
	  FROM [LATINMEX_BD].[dbo].[LTM_LISTA_PRODUCTOS_ASOCIADOS]
	  WHERE ID_PRODUCTO = @ID_PRODUCTO AND ESTADO = 'PENDIENTE'
	
	 SELECT @TOTAL_CUOTAS = COUNT(ID_PRODUCTO_ASOCIADO) FROM @TABLE_CUOTAS

	 DECLARE @VAL_PROD_ENDOSO DECIMAL(18,2)
	 DECLARE @DIFERENCIA DECIMAL(18,2)
	 DECLARE @COSTO_ENDOSO DECIMAL(18,2)
	 

	 --CONSULTO EL VALOR DEL ENDOSO
	 SELECT @VAL_PROD_ENDOSO = VALOR_PRODUCTO FROM LTM_ENDOSO WHERE ID_PRODUCTO = @ID_PRODUCTO AND ESTADO_INTERNO = 'ACTIVO'
	 
	 --CALCULO VALOR DEL PRODUCTO
	 SET @VALOR_PRODUCTO = @VALOR_PRODUCTO - ((@TARJETA_CREDITO - @RECARGO) + @PAGO_EFECTIVO)

	 --CALCULO LA DIFERECNCIA DEL ENDOSO Y EL ACTUAL
	 SET @DIFERENCIA =  @VALOR_PRODUCTO - @VAL_PROD_ENDOSO

	 SET @DIFERENCIA = @DIFERENCIA / @TOTAL_CUOTAS

	 --CURSOR PARA MODFICAR EL VALOR DE LAS CUOTAS
	 DECLARE parametersCursor CURSOR FOR 

		SELECT * FROM @TABLE_CUOTAS

		OPEN parametersCursor  
		FETCH NEXT FROM parametersCursor INTO @ID_PRODUCTO_ASOC_FOR, @SECUENCIA_FOR , @FECHA_PROXIMO_PAGO_FOR, @COSTO_FOR, @VALOR_PAGADO_TARJETA, @VALOR_PAGADO_EFECTIVO,@ABONO

		WHILE @@FETCH_STATUS = 0  
		BEGIN 

		 --VALIDAR LA CANTIDAD DE CUOTAS
		  IF @NEXT <= @TOTAL_CUOTAS 
		  BEGIN

		   SELECT @COSTO_ENDOSO = @COSTO_FOR + @DIFERENCIA

		   --SELECT @VAL_PROD_ENDOSO, @VALOR_PRODUCTO, @DIFERENCIA, @TOTAL_CUOTAS,@COSTO_ENDOSO

			UPDATE LTM_LISTA_PRODUCTOS_ASOCIADOS SET 
			COSTO = @COSTO_ENDOSO,
			ID_USUARIO_ACTUALIZACION  = @DATOS_AUXILIAR,	  
			FECHA_ACTUALIZACION = GETDATE()			
		    WHERE ID_PRODUCTO_ASOCIADO = @ID_PRODUCTO_ASOC_FOR
  

		  END 

		  SET @NEXT = @NEXT + 1

		 FETCH NEXT FROM parametersCursor INTO @ID_PRODUCTO_ASOC_FOR, @SECUENCIA_FOR , @FECHA_PROXIMO_PAGO_FOR, @COSTO_FOR, @VALOR_PAGADO_TARJETA, @VALOR_PAGADO_EFECTIVO,@ABONO
		END 

		CLOSE parametersCursor  
		DEALLOCATE parametersCursor 

END



END